<div class="col-md-12">
  <div class="group">
    <%= link_to("新增电影", new_film_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>名称</td>
        <td>简介</td>
        <td>创建人</td>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td>#</td>
          <td><%= link_to(film.title, film_path(film)) %></td>
          <td><%= film.description %></td>
          <td><%= film.user.email %></td>
          <td>
            <%= link_to("Edit", edit_film_path(film), class: "btn btn-default") %>
            <%= link_to("Delete", film_path(film), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
